.flexbox-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 150px;
  background-color: chocolate;
}

.flexbox-item {
  border: 1px solid black;
  background-color: burlywood;
  text-align: center;
}
@media (max-width: 720px) {
  .flexbox-container {
    grid-template-columns: 1fr 1fr;
    background-color: red;
  }
}
@media (max-width: 480px) {
  .flexbox-container {
    grid-template-columns: 1fr;
    background-color: blue;
  }
}
.flexbox-item-1 {
  grid-column: 1/-1;
}
 