* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #f0f0f0;
  --shadowWhite: #ffffff;
  --shadowDark: #ccc;

  --offWhite: #aaa;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #aaa;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --outerShadow: 8px 8px 16px var(--shadowDark), -10px -10px 16px var(--shadowWhite);
  --innerShadow: inset 10px 0px 100px var(--mainWhite), inset -10px 0px 100px var(--mainWhite);
}
/* globals */
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Segoe UI", "Roboto", "Oxygen";
  line-height: 1.4;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

p {
  font-size: 8px;
}

/* end of globals */

/* Header footer */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 30px;
  box-shadow: 8px 8px 16px var(--shadowDark);
  background-color: #ffffff;
}
header li,
header a,
header button {
  color: var(--mainBlack);
  padding: 0px 0px;
  font-size: 8px;
  display: inline-block;
  text-decoration: none;
}

header li {
  margin: 5px;
}

header img {
  width: 20px;
  height: 20px;
}

footer li,
footer a {
  color: var(--mainWhite);
  padding: 0px 0px;
  font-size: 8px;
}

footer {
  padding: 20px;
  text-align: center;
  background: var(--mainBlack);
  color: white;
  margin: 0;
}

.footer-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 10px;
  width: 400px;
}

/* menu selection */

.menu-card-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 10px;
  width: 400px;
}
.menu-card {
  box-shadow: 5px 5px 10px var(--shadowDark), -10px -10px 16px var(--shadowWhite);
  width: 150px;
  height: 70px;
  border-radius: 3px;
  margin: 10px;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

.menu-img {
  width: 100%;
  border-radius: -3px;
}

.menu-text {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  bottom: 24px;
  width: 100%;
  text-align: center;
}

/* category selection */
.category-card-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px;
  width: 400px;
}

.category-card {
  box-shadow: 5px 5px 10px var(--shadowDark), -10px -10px 16px var(--shadowWhite);
  width: 360px;
  height: 200px;
  border-radius: 3px;
  padding: 0px;
  margin: 10px 0px;
  overflow: hidden;
  position: relative;
}
